section#maincontents {
  
}
section#maincontents div.wrap {
  
  background-image: url(../img/main/maincont.gif);
  display: flex;
  width: 1000px;
  height: 433px;
  box-sizing: border-box;
  padding: 25px 30px 65px 30px;
}
section#maincontents div.wrap > div {
  
  width: calc(100% / 3);
  box-sizing: border-box;
  padding: 10px;
}
section#maincontents div.wrap div.outbackbenefit {
  
  display: flex;
  flex-direction: column;
  gap: 25px;
}
section#maincontents div.wrap div.outbackbenefit div.benefittitle {
  
  display: flex;
  flex-direction: column;
  gap: 5px;
}
section#maincontents div.wrap div.outbackbenefit div.benefittitle h2 {
  
  font-size: 18px;
  font-weight: 700;
  color: #3a2b1f;
}
section#maincontents div.wrap div.outbackbenefit div.benefittitle p {
  
  font-size: 14px;
  color: #3a2b1f;
  font-weight: 500;
}
section#maincontents div.wrap div.outbackbenefit ul {
  
  gap: 15px;
  display: flex;
  flex-direction: column;
}
section#maincontents div.wrap div.outbackbenefit ul li {
  
}
section#maincontents div.wrap div.outbackbenefit ul li a {
  
  display: grid;
  grid-template-columns: 30% 65%;
  grid-template-rows: 25px 30px;
  gap: 10px;
  align-items: center;
  color: #3a2b1f;
  font-weight: 500;
}
section#maincontents div.wrap div.outbackbenefit ul li a:hover {
  text-decoration: underline;
}
section#maincontents div.wrap div.outbackbenefit ul li a img {
  
  grid-row: 1 / span2;
  width: 100%;
}
section#maincontents div.wrap div.outbackbenefit ul li a h3 {
  
}
section#maincontents div.wrap div.outbackbenefit ul li a p {
  
  color: #36270f;
}
section#maincontents div.wrap div.boomerangreward {
  
  display: flex;
  flex-direction: column;
  gap: 25px;
}
section#maincontents div.wrap div.boomerangreward div.boomerangwrap {
  
  display: flex;
  align-items: end;
  justify-content: space-between;
}
section#maincontents div.wrap div.boomerangreward div.boomerangwrap h2 {
  
  font-size: 18px;
  font-weight: 700;
  color: #3a2b1f;
}
section#maincontents div.wrap div.boomerangreward div.boomerangwrap a {
  
  color: #3a2b1f;
  font-size: 12px;
  font-weight: 700;
}
section#maincontents div.wrap div.boomerangreward div.boomerangwrap a:hover {
  text-decoration: underline;
}
section#maincontents div.wrap div.boomerangreward ul {
  
  display: flex;
  flex-direction: column;
  gap: 15px;
}
section#maincontents div.wrap div.boomerangreward ul li {
  
  display: grid;
  grid-template-columns: 10% 85%;
  gap: 5px;
  align-items: center;
  color: #3a2b1f;
}
section#maincontents div.wrap div.boomerangreward ul li span {
  
  font-size: 18px;
  font-weight: 900;
  color: #813c00;
}
section#maincontents div.wrap div.boomerangreward ul li h3 {
  
  font-weight: 700;
}
section#maincontents div.wrap div.boomerangreward ul li p {
  
  grid-column: 1 / span 2;
  font-size: 14px;
  color: #36270f;
}
section#maincontents div.wrap div.speedmenu {
  
}
section#maincontents div.wrap div.speedmenu ul {
  
  height: 100%;
}
section#maincontents div.wrap div.speedmenu ul li {
  
  height: calc(100% / 3);
}
section#maincontents div.wrap div.speedmenu ul li a {
  
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
}
section#maincontents div.wrap div.speedmenu ul li a h2 {
  
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 700;
  color: #3a2b1f;
}
section#maincontents div.wrap div.speedmenu ul li a:hover {
  text-decoration: underline;
}
section#maincontents div.wrap div.speedmenu ul li a h2 span {
  
  font-size: 16px;
  font-weight: 500;
}
section#maincontents div.wrap div.speedmenu ul li a img {
  
}